/*Font Set*/
@font-face {
	font-family: "MyFont";
	src: url(./uzura.ttf);
}

body {
    font-family: MyFont;
}

ul {
    list-style: none;
}

/*Site Topbar*/
img.top-picture {
    width: 8%;
    display: flex;
    float: left;
    padding-left: 2%;
    padding-right: 1%;
}

div.top-siteName {
    padding-top: 3%;
    font-size: 250%;
}

ul.top-select{
    display: flex;
}

ul.top-select li {
    display: flex;
    padding-left: 2%;
}

#back {
    font-family: MyFont;
    display:block;
    width:8%;
    line-height:21px;
    text-decoration: none;
    background:#F7DD33;
    text-align:center;
    border:4px solid #F7DD33;
    color:#666666;
    font-size:17px;
    font-weight:bold;
    border-radius:10px;
    box-shadow:1px 1px 6px 0px #FFFFFF inset;
    transition: all 0.4s ease;
}
#back:hover {
    background:#FFAA00;
    color:#666666;
    margin-left:0px;
    margin-top:0px;
    border:4px solid #FFFFFF;
    box-shadow:none;
}

#submit {
    font-family: MyFont;
    display:block;
    width:20%;
    line-height:21px;
    text-decoration: none;
    background:#3388f7;
    text-align:center;
    border:4px solid #3388f7;
    color: white;
    font-size:17px;
    font-weight:bold;
    border-radius:10px;
    box-shadow:1px 1px 6px 0px #FFFFFF inset;
    transition: all 0.4s ease;
}
#submit:hover {
    background:hwb(187 77% 0%);
    color:#666666;
    margin-left:0px;
    margin-top:0px;
    border:4px solid white;
    box-shadow:none;
}

.cont-1 {
    padding: 10px;
    padding-top: 20px;
    font-size: 20px;
}

.cont-but{
    line-height:34px;
    display:block;
    width:30%;
    height:100%;
    text-decoration: none;
    background:#0099FF;
    text-align:center;
    border-top:3px solid #A4F6FF;
    border-left:3px solid #A4F6FF;
    color:#FFFFFF;
    font-size:18px;
    font-weight:bold;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    text-shadow:0px 0px 10px #67FFA8 ;
}
.cont-but:hover{
    background:#0099FF;
    color:#FFFC00;
    margin-left:1px;
    margin-top:1px;
    border-top:3px solid #EFD4FF;
    border-left:3px solid #EFD4FF;
    box-shadow:none;
}

select#ranges {
    padding: 7px;
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 240px;
    height: 80px;
    border-radius: 5px;
}

select#type {
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 240px;
    height: 25px;
    border-radius: 5px;
}

input[type="text"] {
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 220px;
    height: 20px;
}

#daizi {
    float: left;
    color: red;
}

@media screen and (max-width: 768px) {
  div.top-siteName {
    font-size: 120%;
  }
  
  small {
    font-size: 75%;
  }
  
  select#ranges {
    height: 30px;
  }
  
  #back {
    width: 25%;
    height: 7%;
    font-size: 90%;
  }
  
  #submit {
    width: 70%;
    height: 100%;
    font-size: 100%;
  }
  
    .mokuji {
    font-size: 100%;
  }
  
  .cont-1 {
    font-size: 100%;
  }
  
  .cont-but {
    font-size: 100%;
    width: 80%;
    line-height: 170%;
  }
}
